{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="my-5 fw-bold">Shopping Bag</h2>
                </div>
            </div>
            {% if bag_items %}
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="table-responsive rounded"></div>
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Qty</th>
                                    <th scope="col"></th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="py-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        <p class="my-0">€{{ item.product.price }}</p>
                                        <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                    </td>
                                    <td class="py-3">
                                        <form class="form update-form" id="{{ item.item_id }}" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group w-75">
                                                <div class="input-group">
                                                    <select class="form-control form-select quantity-update" name="quantity" value="{{ item.quantity }}">
                                                        {% for qty in range_quantity %}
                                                            {% if qty == item.quantity %}
                                                                <option value="{{ qty }}" selected>{{ qty }}</option>
                                                            {% else %}
                                                                <option value="{{ qty }}">{{ qty }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="py-3 pe-5">
                                        <a class="remove-item" href="" id="remove_{{ item.item_id }}" data-product-size="{{ item.size }}">R</a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-12 col-lg-4 mt-5 ps-5">
                        <div class="border bg-beige p-4">
                            <div class="d-flex justify-content-between">
                                <h6>Bag Total: </h6>
                                <h6>€{{ total|floatformat:2 }}</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6>Delivery: </h6>
                                <h6>€{{ delivery|floatformat:2 }}</h6>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <h6><strong>Grand Total: </strong></h6>
                                <h6><strong>€{{ grand_total|floatformat:2 }}</strong></h6>
                            </div>
                            {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}
                            <div class="text-center mt-3">
                                <a href="" class="btn btn-brown rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="mt-5">
                                <p>We accept</p>
                            </div>
                        </div>
                        <div class="my-5 text-end">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="lead text-center mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update quantity on change
    $('.quantity-update').on('change', function(e) {
        
        $(this).closest('.update-form').submit();
        console.log($(this).closest('.update-form').attr('id'));
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        console.log("hello");
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product-size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product-size': size};

        //console.log(csrfToken)
        console.log(itemId)
        console.log(size)

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}