{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <header class="hero">
        <div class="overlay">
            <div class="container h-100 text-uppercase text-headings text-center d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-12 text-white py-4 py-lg-5">
                        <h3>New Collection</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-white py-4 py-lg-5">
                        <h1 class="text-hero">Ready for Spring</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-white py-4 py-lg-5">
                        <button class="btn btn-beige btn-lg">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    
                </div>
                <div class="col-12 col-md-6">

                </div>
            </div>
        </div>
    </section>

{% endblock %}