{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <header class="hero">
        <div class="overlay">
            <div class="container h-100 text-uppercase text-headings text-center d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-12 text-white py-4 py-lg-5">
                        <h3>New Collection</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-white py-4 py-lg-5">
                        <h1 class="text-hero">Ready for Spring</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-white py-4 py-lg-5">
                        <button class="btn btn-beige btn-lg btn-home">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row mt-5 g-0">
                <div class="col-12 col-md-6 p-0">
                    <img src="{{ MEDIA_URL }}sneakers-promo.jpg" class="img-fluid w-100">
                </div>
                <div class="col-12 col-md-6 p-0">
                    <div class="bg-salmon h-100 px-3 px-lg-4 py-5 text-center d-flex flex-column justify-content-center align-items-center">
                        <h2 class="mt-3 mb-5 text-headings">Sneakers Collection</h2>
                        <p class="mb-5">Keep things comfy and trendy with sneakers.</p>
                        <a href="{% url 'products' %}?subcategory=sneakers" class="btn btn-beige btn-home mb-3">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-5">
            <h3 class="text-headings">Shoes for the whole family</h3>
            <div class="row g-0">
                <div class="col-12 col-md-4 position-relative p-0">
                    <img src="{{ MEDIA_URL }}women-promo.jpg" class="img-fluid w-100">
                    <a href="" class="btn btn-beige position-absolute btn-bottom start-50 translate-middle btn-home"><strong>Women</strong></a>
                </div>
                <div class="col-12 col-md-4 position-relative p-0">
                    <img src="{{ MEDIA_URL }}men-promo.jpg" class="img-fluid w-100">
                    <a href="" class="btn btn-beige position-absolute btn-bottom start-50 translate-middle btn-home"><strong>Men</strong></a>
                </div>
                <div class="col-12 col-md-4 position-relative p-0">
                    <img src="{{ MEDIA_URL }}kids-promo.jpg" class="img-fluid w-100 h-100">
                    <a href="" class="btn btn-beige position-absolute btn-bottom start-50 translate-middle btn-home"><strong>Kids</strong></a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-5">
            <h3 class="text-headings">Check Out Our Best Sellers!</h3>
           
        </div>
    </section>

    <section>
        <div class="container my-5">
            <div class="img-sale">
                <div class="row h-100 g-0">
                    <div class="col-6"></div>
                    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                        <div class="text-center text-white pe-3">
                            <h1 class="text-headings text-uppercase">Final Sale</h1>
                            <p>Up to 60% discount</p>
                            <a href="{% url 'products' %}?subcategory=sale" class="btn btn-beige btn-home">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container my-5">
            <div class="img-accessories">
                <div class="overlay px-3 d-flex flex-column justify-content-center align-items-center">
                    <div class="text-center text-white">
                        <h1 class="text-headings text-uppercase">Bags & Accessories</h1>
                        <p>Complete your style with our bags and accessories collection.</p>
                        <a href="{% url 'products' %}?subcategory=accessories" class="btn btn-beige btn-home">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="bg-light-rose text-center mt-5 py-5">
            <div class="container">
                <h1 class="text-headings text-uppercase">Articles and Blogs</h1>
                <div class="row">
                    {% for blog in blogs %}
                    <div class="col-12 col-md-4 mt-5 d-flex justify-content-center">
                        <div class="card">
                            {% if blog.image %}
                                <a href="{% url 'article_detail' blog.id %}">
                                    <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'article_detail' blog.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <h6 class="card-title fw-bold">{{ blog.title }}</h6>
                                <p class="card-text">{{ blog.paragraph1|truncatechars:40 }}</p>
                                <a href="{% url 'article_detail' blog.id %}">Read the article <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}