{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="my-5 fw-bold">Thank You!</h2>
                    <p class="mb-5">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7 col-xl-6 mx-auto">
                    <div class="order-confirmation-wrapper p-2 border">
                        <div class="row">
                            <div class="col">
                                <p class="fw-bold"><small>Order Info:</small></p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Order Number</small></p>
                            </div>
                            <div class="col-8 text-md-right">
                                <p class="mb-0"><small>{{ order.order_number }}</small></p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Order Date</small></p>
                            </div>
                            <div class="col-8 text-md-right">
                                <p class="mb-0"><small>{{ order.date }}</small></p>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col">
                                <p class="fw-bold mt-2"><small>Order Items:</small></p>
                            </div>
                        </div>
                        
                        {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-4">
                                <a href="{% url 'product_detail' item.product.id %}">
                                    {% if item.product.image %}
                                        <img class="w-50" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="w-50" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-8">
                                <p class="my-0 small">{{ item.product.name }}{% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}</p>
                                <p class="my-0 small text-muted">{{ item.quantity }} @ ${{ item.product.price }} each</p>
                            </div>
                        </div>
                        {% endfor %}
                        <hr>

                        <div class="row">
                            <div class="col">
                                <p class="fw-bold mt-2"><small>Delivering To:</small></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Name</small></p>
                            </div>
                            <div class="col-8">
                                <p class="mb-0"><small>{{ order.full_name }}</small></p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Address 1</small></p>
                            </div>
                            <div class="col-8">
                                <p class="mb-0"><small>{{ order.street_address1 }}</small></p>
                            </div>
                        </div>
    
                        {% if order.street_address2 %}
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Address 2</small></p>
                            </div>
                            <div class="col-8">
                                <p class="mb-0"><small>{{ order.street_address1 }}</small></p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Town or City</small></p>
                            </div>
                            <div class="col-8">
                                <p class="mb-0"><small>{{ order.town_or_city }}</small></p>
                            </div>
                        </div>
    
                        {% if order.postcode %}
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Postal Code</small></p>
                            </div>
                            <div class="col-8">
                                <p class="mb-0"><small>{{ order.postcode }}</small></p>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Country</small></p>
                            </div>
                            <div class="col-8">
                                <p class="mb-0"><small>{{ order.country }}</small></p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Phone Number</small></p>
                            </div>
                            <div class="col-8">
                                <p class="mb-0"><small>{{ order.phone_number }}</small></p>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col">
                                <p class="fw-bold mt-2"><small>Billing Info:</small></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Order Total</small></p>
                            </div>
                            <div class="col-8">
                                <p class="mb-0"><small>{{ order.order_total }}</small></p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Delivery</small></p>
                            </div>
                            <div class="col-8">
                                <p class="mb-0"><small>{{ order.delivery_cost }}</small></p>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-0"><small>Grand Total</small></p>
                            </div>
                            <div class="col-8">
                                <p class="mb-0"><small>{{ order.grand_total }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7 col-xl-6 mx-auto text-center">
                    {% if from_profile %}
                        <a href="{% url 'profile' %}" class="btn btn-brown-inverted my-5">
                            <span class="icon mr-2">
                                <i class="fas fa-angle-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Profile</span>
                        </a>
                    {% else %}
                        <a href="{% url 'products' %}" class="btn btn-brown my-5">
                            <span class="icon mr-2">
                                <i class="fas fa-gifts"></i>
                            </span>
                            <span class="text-uppercase">Browse Products</span>
                        </a>
                    {% endif %}
                </div>
            </div> 
        </div>
    </section>

{% endblock %}
