{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="my-5 fw-bold">Shopping Bag</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="text-muted">Please fil out the form below to complete your order</p>
                </div>
            </div>
            
        </div>
    </section>

{% endblock %}
