.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000;
    background-color: #E8DCD5;
}

.nav-pills > .nav-item:first-child, 
.nav-pills > .nav-item:first-child + .nav-item {
    border-right: 1px #000 solid;
}

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.form-group {
    margin: 10px;
}

.profile-form-input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}