<div class="collapse navbar-collapse d-lg-flex justify-content-center" id="navbarToggleExternalContent">
    <ul class="navbar-nav text-center my-0">
        <li class="nav-item px-lg-3">
            <a class="nav-link" href="{% url 'products' %}">All Products</a>
        </li>
        <li class="nav-item dropdown px-lg-3 ">
            <a class="nav-link" href="#" id="womenDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Women
            </a>
            <ul class="dropdown-menu" aria-labelledby="womenDropdown">
                <li><a class="dropdown-item fw-bold" href="#">All Women's Shoes</a></li>
                <li><a class="dropdown-item ps-4" href="#">Boots</a></li>
                <li><a class="dropdown-item ps-4" href="#">Flats</a></li>
                <li><a class="dropdown-item ps-4" href="#">Sneakers</a></li>
                <li><a class="dropdown-item ps-4" href="#">Outdoor</a></li>
                <li><a class="dropdown-item ps-4" href="#">Sandals</a></li>
                <li><a class="dropdown-item ps-4" href="#">Oxfords</a></li>
                <li><a class="dropdown-item fw-bold" href="#">Accessories</a></li>
                <li><a class="dropdown-item fw-bold" href="#">SALE</a></li>
            </ul>
        </li>
        <li class="nav-item px-lg-3">
            <a class="nav-link" href="">Men</a>
        </li>
        <li class="nav-item px-lg-3">
            <a class="nav-link" href="">Kids</a>
        </li>
        <li class="nav-item px-lg-3">
            <a class="nav-link" href="">Accessories</a>
        </li>
        <li class="nav-item px-lg-3">
            <a class="nav-link" href="">SALE</a>
        </li>
    </ul>
</div>

