<div class="d-block d-lg-none">
    <a class="navbar-brand me-auto d-flex justify-content-center py-2 ps-1" href="#">
        <div class="logo"></div>
    </a>
</div>

<ul class="list-inline ms-auto mb-0">
    <li class="list-inline-item p-0">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><span class="material-icons">search</span></div>
            </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
            <form class="form" method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border rounded-0" type="text" name="q" placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="material-icons">search</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li class="list-inline-item dropdown">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><span class="material-icons">person</span></div>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>
    <li class="list-inline-item">
        <a class="nav-link d-block d-lg-none" href="">
            <div class="text-center d-flex align-items-center">
                <span class="material-icons">favorite</span>
                <p class="my-0 d-none d-lg-inline"> Favourites</p>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
            <div class="text-center d-flex align-items-center">
                <span class="material-icons">shopping_bag</span>
                {% if grand_total %}
                    <p class="my-0">${{ grand_total|floatformat:2 }}</p>
                {% else %}
                    <p class="my-0 d-none d-lg-inline">Shopping Bag</p>
                {% endif %}
            </div>
        </a>
    </li>
</ul>