{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="my-5 fw-bold">Articles</h2>
                </div>
            </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.title }}</h5>
                            <p class="card-text">{{ blog.paragraph1|truncatechars:40 }}</p>
                            <a href="" class="btn bg-salmon">Read the article</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}