{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="{% static 'images/error/403.png' %}" class="img-fluid" alt="403 image" height="400px">
                <h3 class="my-5 fw-bold">Sorry, you don't have permission to access this page.</h3>
                <a class="btn btn-beige mb-5" href="{% url 'home' %}">Back to Homepage</a>
            </div>
        </div>
    </div>
{% endblock %}
