{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="my-5 fw-bold text-uppercase">We'd love to hear from you</h2>
                </div>
            </div>
            <div>
                <p>Have you read <a href="{% url 'faq' %}">Frequently Asked Questions</a> and didn't find your question there? You can call us, send us an email, or fill out this contact form below. Please note that our customer service teams are very busy just now and we are doing everything we can to get back to you as soon as possible. Thank you for your patience!</p>
            </div>
            <div class="text-center my-5">
                <h4 class="fw-bold">Call Us</h4>
                <p class="m-0">088 - 123 45 67</p>
                <p>Monday - Friday 09:00 - 18:00</p>
            </div>
            <div class="text-center my-5">
                <h4 class="fw-bold">Email Us</h4>
                <p>customerservice@shoesandmore.com</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8 mx-auto">
                    <div class="my-5 mx-xl-5 contact-wrapper py-5 position-relative">
                        <div class="position-absolute top-0 start-50 translate-middle bg-white px-3">
                            <h4 class="fw-bold text-center">Contact Form</h4>
                        </div>
                        <div class="px-2 px-md-5">
                            <form action="{% url 'contact' %}" method="POST">
                                {% csrf_token %}
                                {{ form | crispy }} 
                                <div class="text-center mt-5">
                                    <button class="btn btn-beige" type="submit">Send Message</button>
                                </div>               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
