{% extends "base.html" %}
{% load static %}
{% block extra_title %} - FAQ Page{% endblock %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="mt-5 mb-4 mb-sm-5 fw-bold text-uppercase">
                        Frequently Asked Questions
                    </h2>
                </div>
            </div>
            <div class="mt-1 mt-md-3">
                <div class="my-4">
                    <h5 class="fw-bold">
                        Q: How long does it take to recive my order?
                    </h5>
                    <p>
                        A: Allow 3 - 10 business days for receipt within the Europe. 
                        This time frame includes both processing and shipping time.
                    </p>
                </div>
                <div class="my-4">
                    <h5 class="fw-bold">
                        Q: How can I return my purchased products?
                    </h5>
                    <p>
                        A: Shoes & More are happy to refund within 28 days for any unsuitable 
                        items, provided they are in resalable condition.
                        To return to our warehouse, send us a message through contact form, 
                        provide your order number, and let us know what you want to return 
                        and why. We then send you a reply with a return label.
                        Our original packaging can be reused but, if you no longer have it, 
                        make sure it's in something watertight. 
                        If you can reuse something you have at home, even better!
                        You can return more than one order or parcel at once, 
                        providing that you include all relevant returns notes in the parcel. 
                    </p>
                </div>
                <div class="my-4">
                    <h5 class="fw-bold">
                        Q: I didn't receive an order confirmation by email. 
                        How can I know if my order is processed?
                    </h5>
                    <p>
                        A: Log in to your account and see the purchase history. 
                        If you see your order there, don't worry, we've received your order and 
                        will process it. If you can't find it on your purchase history, 
                        please contact us.
                    </p>
                </div>
                <div class="my-4">
                    <h5 class="fw-bold">
                        Q: What forms of payment do you accept?
                    </h5>
                    <p>
                        A: We accept cards bearing the MasterCard, Visa, American Express, 
                        and Discovery symbol. Shoes And More guarantees that your details are 
                        completely safe with us. All information is sent encrypted to ensure 
                        total security of any sensitive information.
                    </p>
                </div>
                <div class="my-4 pb-4">
                    <h5 class="fw-bold">
                        Q: Can I cancel or amend my order?
                    </h5>
                    <p>
                        A: We start processing your order quickly which means we can't make any 
                        changes once it's confirmed, including changing the delivery address or 
                        delivery option. However you maybe able to if you contact us as soon as 
                        possible after your order.
                    </p>
                </div>
            </div>
            <p>Can't find your answer here? Contact us and we'd be happy to help!</p>
            <div class="text-center">
                <a href="{% url 'contact' %}" class="btn btn-beige my-5">
                    Go to Contact Page
                </a>
            </div>
        </div>
    </section>
{% endblock %}