{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Add Product Page{% endblock %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center mx-auto">
                    <h2 class="my-5 fw-bold">Product Management</h2>
                    <h5 class="mb-4 p-2 fw-bold bg-beige">Add a Product</h5>
                </div>
            </div>
            <!-- Add Product Form-->
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
                    <form method="POST" action="{% url 'add_product' %}" class="form mb-2" 
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="text-center my-5">
                            <a class="btn btn-beige-inverted" href="{% url 'products' %}">
                                Cancel
                            </a>
                            <button class="btn btn-beige" type="submit">Add Product</button>
                        </div>
                    </form>
                </div>            
            </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
