{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}

    <section>
        <div class="container">
            <!-- Breadcrumb -->
            <div class="mt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active text-capitalize" aria-current="page"><a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'products' %}?category={{ product.category.name }}&subcategory={{ product.subcategory.name }}">{{ product.subcategory.friendly_name }}</a></li>
                </ol>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div>
                        <p class="card-text mb-0">{{ product.name }}</p>
                        <p class="mb-0 text-start fw-bold">${{ product.price }}</p>
                        {% if product.rating %}
                            <small class="text-muted d-block"><span class="material-icons">star_rate</span></i>{{ product.rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                        {% if product.category %}
                            <small class="text-muted d-block"><span class="material-icons">sell</span>{{ product.category.friendly_name }}</small>
                        {% else %}
                            <small class="text-muted">No Category</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}