{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="container-xxl">
            <!-- Breadcrumb -->
            <div class="mt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    {% if var_category %}
                        <li class="breadcrumb-item active text-capitalize" aria-current="page">{{ var_category }}</li>
                    {% else %}
                        <li class="breadcrumb-item active" aria-current="page">All Products</li>
                    {% endif %}
                </ol>
            </div>
            <!-- Sale banner -->
            <div class="img-sale img-fluid">
                <div class="row h-100 g-0">
                    <div class="col-6"></div>
                    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                        <div class="text-center text-white pe-3">
                            <h1 class="text-headings text-uppercase">Final Sale</h1>
                            <p>Up to 60% discount</p>
                            <a href="{% url 'products' %}?subcategory=sale" class="btn btn-beige btn-home">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-2 d-none d-lg-block">
                    <!-- SIDE NAVIGATION -->
                    <!-- If user chooses 'Women' or 'Men' or 'Kids' -->
                    {% if var_category == "women" or var_category == "men" or var_category == "kids" %}
                        <p class="fw-bold mt-5">Shop by Item</p>
                        <ul class="list-unstyled">
                            <!-- For every subcategory that exists in the product list of the specified category -->
                            {% for subcat in all_subcategories %}
                                {% if subcat.name in subcategories_exist %}
                                    <li class="nav-item">
                                        <a class="nav-link pb-0 
                                            {% if var_subcategory == subcat.name %}fw-bold{% endif %} 
                                            {% if subcat.name == 'sale' %}text-uppercase{% else %}text-capitalize{% endif%} 
                                            {% if subcat.name == 'sale' or subcat.name == 'accessories' or subcat.name == 'new_arrivals' %}mt-3{% endif %}" 
                                            href="{% url 'products' %}?category={{var_category}}&subcategory={{subcat}}">
                                            {{ subcat }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    <!-- If user chooses 'Accessories' or 'SALE' -->
                    {% elif var_category == None and var_subcategory == "accessories" or var_category == None and var_subcategory == "sale" %}
                        <p class="fw-bold mt-5">Shop by Category</p>
                        <ul class="list-unstyled">
                            {% for cat in all_categories %}
                            <li class="nav-item">
                                <a class="nav-link text-capitalize pb-0" 
                                href="{% url 'products' %}?category={{ cat }}&subcategory={{ var_subcategory }}">{{ cat }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    <!-- If user chooses 'All Products' -->
                    {% elif var_category == None and var_subcategory == None %}
                        <p class="fw-bold mt-5">Shop by Category</p>
                        <ul class="list-unstyled">
                            {% for cat in all_categories %}
                            <li class="nav-item">
                                <a class="nav-link text-capitalize pb-0" 
                                href="{% url 'products' %}?category={{ cat }}">{{ cat }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-10">
                    <div class="mt-5">
                        <div class="mb-3 d-flex flex-row">
                            <div class="flex-grow-1">
                                <p class="text-muted text-md-start">
                                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                                        <span class="small"><a href="{% url 'products' %}">Back to All Products</a> | </span>
                                    {% endif %}
                                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                                </p>
                            </div>
                            <!-- SORTING -->
                            <div>
                                <a class="nav-link text-black py-0" href="#" id="sortDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sort by 
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                                    {% if var_category and var_subcategory %}
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&subcategory={{ var_subcategory }}&sort=price&direction=asc">By Price (Lowest to Highest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&subcategory={{ var_subcategory }}&sort=price&direction=desc">By Price (Highest to Lowest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&subcategory={{ var_subcategory }}&sort=rating&direction=desc">By Rating</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&subcategory={{ var_subcategory }}&sort=name&direction=asc">By Color</a></li>
                                    {% elif var_category and var_subcategory == None %}
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&sort=price&direction=asc">By Price (Lowest to Highest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&sort=price&direction=desc">By Price (Highest to Lowest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&sort=rating&direction=desc">By Rating</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&sort=name&direction=asc">By Color</a></li>
                                    {% elif var_category == None and var_subcategory %}
                                        <li><a class="dropdown-item" href="{% url 'products' %}?subcategory={{ var_subcategory }}&sort=price&direction=asc">By Price (Lowest to Highest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?subcategory={{ var_subcategory }}&sort=price&direction=desc">By Price (Highest to Lowest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?subcategory={{ var_subcategory }}&sort=rating&direction=desc">By Rating</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?subcategory={{ var_subcategory }}&sort=name&direction=asc">By Color</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price (Lowest to Highest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">By Price (Highest to Lowest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc">By Color</a></li>
                                    {% endif %}
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <!-- PRODUCTS -->
                    <div class="row mt-md-2" id="product-wrapper">
                        {% for product in products %}
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="card mx-auto">
                                    <div>
                                        <!-- Product image -->
                                        {% if product.image %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </a>
                                        {% else %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                            </a>
                                        {% endif %}
                                        <!-- Add to favorite button (Heart icon)-->
                                        <div class="circle-overlay position-abs">
                                            <a href="{% url 'add_to_favorites' product.id %}" role="button" class="btn-fav" aria-label="add to favorites">
                                                {% if product in favorites.products.all %}
                                                    <i class="fas fa-heart fa-inverse text-danger"></i>
                                                {% else %}
                                                    <i class="fas fa-heart fa-inverse"></i>
                                                {% endif %}
                                            </a>  
                                        </div>
                                    </div>
                                    <!-- Product info -->
                                    <div class="card-body pt-1 ps-0 pb-0">
                                        <p class="card-text mb-0">{{ product.name }}</p>
                                    </div>
                                    <div class="card-footer bg-white ps-0 pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <p class="mb-0 text-start fw-bold">€{{ product.price }} 
                                                    {% if product.subcategory.name == 'sale' %}
                                                        <span class="badge bg-salmon">SALE!</span>
                                                    {% endif %}
                                                </p>
                                                {% if product.rating %}
                                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                                {% if request.user.is_superuser %}
                                                <small class="ml-3 float-end">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Load More Button -->
        {% if var_category == None and var_subcategory == None %}
            <div class="d-flex justify-content-center align-items-center">
                <button id="load-more-button" class="btn btn-beige text-uppercase my-5 fw-bold">Load More Products</button>
            </div>
        {% endif %}
        {{total_obj|json_script:"json-total"}}
        
        <!-- Back to top button -->
        <a class="text-center" id="back-to-top" href="#">
            <div class="h-100 shadow-sm rounded-0 d-flex justify-content-center align-items-center">
                <i class="fas fa-arrow-up"></i>
            </div>
        </a>
    </section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        

        // Load More Products, adapted from https://www.youtube.com/watch?v=t8luXilRnlE
        const total = JSON.parse(document.getElementById('json-total').textContent);

        function loadMoreProducts() {
            let _current_item = $('.card').length
            const content_container = document.getElementById("product-wrapper");
            $.ajax({
                url: '{% url "load_more" %}',
                type: 'GET',
                data: {
                    'loaded_item': _current_item,
                },
                beforeSend: function () {
                    $('#load-more-button').html('<i class="fas fa-spinner"></i>');
                },
                success: function (response) {
                    console.log(response)
                    const data = response.products
                    $('#load-more-spinner').addClass('d-none');
                    data.map(product => {
                        content_container.innerHTML += 
                        `<div class="col-6 col-md-4 col-lg-3">\
                            <div class="card mx-auto">\
                                <div>\
                                    <a href="/products/${product.id}">\
                                        <img class="card-img-top img-fluid" src="/media/${product.image}" alt="${product.name}">\
                                    </a>\
                                    <div class="circle-overlay position-abs">\
                                        <a href="/favorites/add_to_favorites/${product.id}" role="button" class="btn-fav" aria-label="add to favorites">\
                                            {% if product in favorites.products.all %}\
                                                <i class="fas fa-heart fa-inverse text-danger"></i>\
                                            {% else %}\
                                                <i class="fas fa-heart fa-inverse"></i>\
                                            {% endif %}\
                                        </a>\
                                    </div>\
                                </div>\
                                <div class="card-body pt-1 ps-0 pb-0">\
                                    <p class="card-text mb-0">${product.name}</p>\
                                </div>\
                                <div class="card-footer bg-white ps-0 pt-0 border-0 text-left">\
                                    <div class="row">\
                                        <div class="col">\
                                            <p class="mb-0 text-start fw-bold">€ ${product.price}</p>\
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i> ${product.rating} / 5</small>\
                                        </div>\
                                    </div>\
                                </div>\
                            </div>\
                        </div>`
                    });
                    if (_current_item == total) {
                        $('#load-more-button').addClass('d-none');
                    } else {
                        $('#load-more-button').text('Load More Products');
                    }
                },
                error: function (err) {
                    console.log(err);
                },
            });
        }
        $('#load-more-button').click(function () {
            loadMoreProducts();
        });

        $(document).ready(function() {
            // Back to top button functionality
            $("#back-to-top").click(function(event) {
                event.preventDefault();
                $("html, body").animate({ scrollTop: 0 });
                return false;
            });

            // Turn Add to favorite button (heart icon) into red
            $('.fa-inverse').hover(function(){
                $(this).toggleClass("text-danger");
            });
            $('.fa-inverse').click(function(){
                $(this).focus();
            });
        });
    </script>
    
{% endblock %}