{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <section>
        <div class="container-xxl">
            <!-- Breadcrumb -->
            <div class="mt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    {% if var_category %}
                        <li class="breadcrumb-item active text-capitalize" aria-current="page">{{ var_category }}</li>
                    {% else %}
                        <li class="breadcrumb-item active" aria-current="page">All Products</li>
                    {% endif %}
                </ol>
            </div>
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block">
                    <!-- Side Nav -->
                    {% if var_category == "women" %}
                        <p class="fw-bold mt-5">Shop by Item</p>
                        <ul class="list-unstyled">
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'sandals' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=sandals">Sandals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'slippers' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=slippers">Slippers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'mules' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=mules">Mules</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'loafers' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=loafers">Loafers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'oxfords' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=oxfords">Oxfords</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'flats' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=flats">Flats</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'heels' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=heels">High Heels</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'sneakers' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=sneakers">Sneakers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'boots' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=boots">Boots</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'outdoors' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=outdoors">Outdoors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'accessories' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=accessories">Accessories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mt-3 {% if var_subcategory == 'sale' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=sale">SALE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mt-3 {% if var_subcategory == 'new_arrivals' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=new_arrivals">New Arrivals</a>
                            </li>
                        </ul>
                    {% elif var_category == "men" %}
                        <p class="fw-bold mt-5">Shop by Item</p>
                        <ul class="list-unstyled">
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'sandals' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=sandals">Sandals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'slippers' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=slippers">Slippers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'loafers' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=loafers">Loafers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'oxfords' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?categoryomen&subcategory=oxfords">Oxfords</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'sneakers' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=sneakers">Sneakers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'boots' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=boots">Boots</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'outdoors' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=outdoors">Outdoors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'accessories' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=accessories">Accessories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mt-3 {% if var_subcategory == 'sale' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=sale">SALE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mt-3 {% if var_subcategory == 'new_arrivals' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=new_arrivals">New Arrivals</a>
                            </li>
                        </ul>
                    {% elif var_category == "kids" %}
                        <p class="fw-bold mt-5">Shop by Item</p>
                        <ul class="list-unstyled">
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'sandals' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=kids&subcategory=sandals">Sandals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'slippers' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=kids&subcategory=slippers">Slippers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'sneakers' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=kids&subcategory=sneakers">Sneakers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'boots' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=kids&subcategory=boots">Boots</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_subcategory == 'accessories' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=kids&subcategory=accessories">Accessories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mt-3 {% if var_subcategory == 'sale' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=kids&subcategory=sale">SALE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mt-3 {% if var_subcategory == 'new_arrivals' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=kids&subcategory=new_arrivals">New Arrivals</a>
                            </li>
                        </ul>
                    {% elif var_category == None and var_subcategory == None %}
                    <p class="fw-bold mt-5">Shop by Category</p>
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <a class="nav-link pb-0 {% if var_category == 'women' %}fw-bold{% endif %}" 
                            href="{% url 'products' %}?category=women">Women</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pb-0 {% if var_category == 'men' %}fw-bold{% endif %}" 
                            href="{% url 'products' %}?category=men">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pb-0 {% if var_category == 'kids' %}fw-bold{% endif %}" 
                            href="{% url 'products' %}?category=kids">Kids</a>
                        </li>
                    </ul>
                    {% elif var_category == None and var_subcategory == "accessories" %}
                        <p class="fw-bold mt-5">Shop by Category</p>
                        <ul class="list-unstyled">
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_category == 'women' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=accessories">Women</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_category == 'men' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=accessories">Men</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_category == 'kids' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=kids&subcategory=accessories">Kids</a>
                            </li>
                        </ul>
                    {% elif var_category == None and var_subcategory == "sale" %}
                        <p class="fw-bold mt-5">Shop by Category</p>
                        <ul class="list-unstyled">
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_category == 'women' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=women&subcategory=sale">Women</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_category == 'men' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=men&subcategory=sale">Men</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pb-0 {% if var_category == 'kids' %}fw-bold{% endif %}" 
                                href="{% url 'products' %}?category=kids&subcategory=sale">Kids</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-10">
                    <h2 class="logo-font text-center">Products</h2>
                    <div class="">
                        <div class="mb-3 d-flex flex-row">
                            <div class="flex-grow-1">
                                <p class="text-muted mt-3 text-center text-md-start">
                                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                                        <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                                    {% endif %}
                                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                                </p>
                            </div>
                            <!-- Sorting -->
                            <div class="">
                                <a class="nav-link" href="#" id="sortDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sort by 
                                    <span class="material-icons">arrow_drop_down</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                                    {% if var_category and var_subcategory %}
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&subcategory={{ var_subcategory }}&sort=price&direction=asc">By Price (Lowest to Highest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&subcategory={{ var_subcategory }}&sort=price&direction=desc">By Price (Highest to Lowest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&subcategory={{ var_subcategory }}&sort=rating&direction=desc">By Rating</a></li>
                                    {% elif var_category and var_subcategory == None %}
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&sort=price&direction=asc">By Price (Lowest to Highest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&sort=price&direction=desc">By Price (Highest to Lowest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?category={{ var_category }}&sort=rating&direction=desc">By Rating</a></li>
                                    {% elif var_category == None and var_subcategory %}
                                        <li><a class="dropdown-item" href="{% url 'products' %}?subcategory={{ var_subcategory }}&sort=price&direction=asc">By Price (Lowest to Highest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?subcategory={{ var_subcategory }}&sort=price&direction=desc">By Price (Highest to Lowest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?subcategory={{ var_subcategory }}&sort=rating&direction=desc">By Rating</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price (Lowest to Highest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">By Price (Highest to Lowest)</a></li>
                                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                                    {% endif %}

                                </ul>
                            </div>
                            <!-- Filtering -->
                            {% if var_subcategory == None %}
                                {% if var_category == None %}
                                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ sc.name }}">
                                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ sc.friendly_name }}</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="row mt-5 product-wrapper">
                        {% for product in products %}
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card">
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="card-text mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0 text-start fw-bold">${{ product.price }}</p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}