{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
{ {product.category.friendly_name }} > {{ product.subcategory.friendly_name }}
    <section>
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div>
                        <p class="card-text mb-0">{{ product.name }}</p>
                        <p class="mb-0 text-start fw-bold">${{ product.price }}</p>
                        {% if product.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}